#!/usr/bin/env bash

eval "$(opam env --switch=. --set-switch)"

# Start dune build --watch if not running
if ! pgrep -f "dune build --watch" > /dev/null; then
    nohup -- dune build --watch > /dev/null &
    disown
fi
